<div class="container px-4">
  <!-- <p>
    profile-page works!
  </p> -->
  <h2 class="font-medium text-2xl text-center mx-auto my-2">Your Profile</h2>
  <div class="my-3">
    <div class="text-center">
      <div class="w-28 h-28 flex items-center justify-center overflow-hidden bg-gray-200 rounded-full mx-auto">
        <ion-icon name="person" class="text-4xl"></ion-icon>
      </div>
      <h3 class="font-medium my-2">Jane Done</h3>
      <p class="text my-2">+2347087500875</p>
      <ion-button color="primary">Edit Profile</ion-button>
      <!-- <button class="rounded-lg">Edit Profile</button> -->
    </div>
  </div>
  <div class="my-5">
    <!-- <button class="flex items-center w-full">
      <span class="w-1/12 flex-auto flex justify-start items-center">
        <ion-icon name="lock-closed" class="text-lg"></ion-icon>
      </span>
      <span class="w-11/12 flex-auto flex items-center justify-between border-b border-solid py-2">
        <span class="text-left">
          <p class="text-lg font-normal capitalize ">password</p>
          <p class="text-sm font-normal">Update your password</p>
        </span>
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
    </button> -->
    <button class="flex items-center w-full border-b border-gray-200 border-solid py-3">
      <span class="w-1/12 flex-auto flex justify-start items-center">
        <ion-icon name="lock-closed" class="text-lg"></ion-icon>
      </span>
      <span class="w-11/12 flex-auto flex items-center justify-between">
        <span class="text-left">
          <p class="text-lg font-normal capitalize ">password</p>
          <!-- <p class="text-sm font-normal">Update your password</p> -->
        </span>
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
    </button>
    <button class="flex items-center py-3 w-full border-b border-gray-200 border-solid">
      <span class="w-1/12 flex-auto flex justify-start items-center">
        <ion-icon name="card" class="text-lg"></ion-icon>
      </span>
      <span class="w-11/12 flex-auto flex items-center justify-between">
        <span class="text-lg font-normal capitalize">payment methods</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
    </button>
    <button class="flex items-center py-3 w-full border-b border-gray-200 border-solid">
      <span class="w-1/12 flex-auto flex justify-start items-center">
        <ion-icon name="location" class="text-lg"></ion-icon>
      </span>
      <span class="w-11/12 flex-auto flex items-center justify-between">
        <span class="text-lg font-normal capitalize">locations</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </span>
    </button>
  </div>
</div>