<div class="container mx-auto px-4">
  <p>
    search-page works!
  </p>

  <div class="search-container relative">
    <input type="text"
      class="rounded-full px-5 pl-10 py-2.5 outline-none border-gray-200 border w-full relative text-sm"
      [(ngModel)]="searchInput" (input)="filterBySearch()">
    <!-- <ion-icon name="search-outline"></ion-icon> -->
    <ion-icon name="search" class="absolute left-4 top-1/2 transform -translate-y-1/2 text-lg"></ion-icon>
  </div>
  <div class="allCategoeries grid grid-cols-2 gap-4 my-4" *ngIf="filteredMeals.length <= 0">
    <div class="category relative rounded-lg overflow-hidden" *ngFor="let category of allCategories"
      (click)="filterByCategory(category.strCategory)">
      <img src="{{ category.strCategoryThumb }}" alt="" class="w-full relative">
      <div class="absolute top-0 right-0 left-0 bottom-0 z-40 bg-black bg-opacity-50 text-white">
        <div class="flex items-center justify-center h-full text-lg">{{ category.strCategory }}</div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="flex gap-2 overflow-x-scroll my-3" *ngIf="filteredMeals.length > 0">
      <button class="category block border border-solid rounded-full px-3 py-0.5 text-sm"
        *ngFor="let category of allCategories" (click)="filterByCategory(category.strCategory)">
        {{ category.strCategory }}
      </button>
    </div>
    <div class="filtered-meal grid grid-cols-2 gap-4">
      <app-dish-card *ngFor="let item of filteredMeals" [dish]="item"></app-dish-card>
    </div>
  </div>

</div>