<div class="container px-4">
<!-- <p>
  cart-page works!
</p> -->

  <h2 class="">My Cart</h2>
  <div class="cart-list">
    <div class="cart-item flex gap-2 items-center">
      <div class="w-4/12 flex-auto">
        <img src="assets/dishes/dish1.jpg" class="rounded-lg" alt="">
      </div>
      <div class="w-8/12 flex-auto flex items-center gap-2">
        <div class="w-full">
          <p class="text-medium">Food name</p>
          <p class="text-medium">$4.50</p>
        </div>
        <div class="flex gap-1">
        <button class="w-4 block p-1">
          <ion-icon name="remove" class="block"></ion-icon>
        </button>
        <span class="block">30</span>
        <button class="w-4 block">
            <ion-icon name="add" class="block"></ion-icon>
          </button>
        </div>
        <button class="w-4 block p-1">
          <ion-icon name="trash" class="block"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
