<!-- <div class=""> -->
  <ion-card class="w-48 m-0 h-full relative" (click)="showDishDetail()">
    <span class="absolute right-0 top-3 z-50">
      <ion-icon name="star-outline"></ion-icon> 4.0
    </span>
    <img src="{{ dish.strMealThumb }}" alt="pff" class="relative">
    <ion-card-header>
      <h3 class="font-semibold text-sm text-gray-900">{{ dish.strMeal }}</h3>
      <p class="font-medium text-sm text-gray-700">$4000</p>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> -->
  </ion-card>
<!-- </div> -->
